.container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxImage {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.imgP,
.imgTitle,
.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.imgP {
  border-radius: 32px;
  width: 30%;
  text-align: center;
  justify-content: flex-start;
}

.imgP img {
  padding-bottom: 8px;
  border-radius: 32px;

  width: 186px;
  height: 139px;
  aspect-ratio: auto 186 / 139;
}

@media (max-width: 480px) {
  /* Estilos para telas menores, como smartphones */
  .boxImage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    height: auto;
    text-align: center;
  }
  .boxImage {
    gap: 48px;
  }

  .imgP {
    width: 92%;
  }

  .imgP img {
    width: 200px;
    height: auto;
  }
  .imgParagraph {
    text-align: center;
  }
}
