.navigation {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  height: 26.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  column-gap: 32px;
  background-color: #7d3caf;
  --cor-fonte-principal: #ffffff;
}

@media (max-width: 744px) {
  .navigation {
    height: 72px;
  }
}
