.principalContainer {
  font: bold 12px/1 Roboto, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.containerFull {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--roxo-escuro-full);
  height: 63px;
  justify-content: center;
  box-sizing: inherit;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  padding: 0 8px;
  box-sizing: border-box;
  height: 100%;
}

.completeNavigation {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  column-gap: 20px;
}

.mainRoutes {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 100%;
  margin: 0;
}
