@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-principal: #7d3caf;
  --roxo-medio: #945fbd;
  --roxo-escuro: #4b0e8d;
  --branco: #fff;
  --fonte-principal: "Roboto", sans-serif;
  --fonte-secundaria: "Playfair Display", sans-serif;
  font-family: var(--fonte-principal);
}

#root {
  display: block;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
