* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-principal: #7d3caf;
  --roxo-medio: #945fbd;
  --roxo-escuro: #4b0e8d;
  --branco: #fff;
  --fonte-principal: "Roboto", sans-serif;
  --fonte-secundaria: "Playfair Display", sans-serif;
  /* background-image: linear-gradient(
    64deg,
    #00041c 0%,
    #4c0041 54%,
    #00897b 100%
  ); */
  font-family: var(--fonte-principal);
}

#root {
  display: block;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
