.center {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  background-color: var(--roxo-medio);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: var(--branco);
  margin-bottom: 20px;
}
