@import "/src/index.css";

.tr {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  width: 544px;
  margin-bottom: 1px;
  font-size: 40px;
  color: var(--preto);
}

.paragraph {
  color: var(--preto);
  text-align: start;
  font-size: 15px;
  font-family: var(--fonte-principal);
  line-height: 24px;
  width: 500px;
}

.storeImg {
  margin-top: 25px;
}

.logoStore {
  padding-right: 20px;
}

.image {
  width: 400px;
}

@media (max-width: 767px) {
  /* Estilos para telas menores, como smartphones */
  .main {
    margin: 45px 0;
  }
  .images {
    display: none;
  }
}
