@import "/src/index.css";

.container,
.content,
.texts,
.card {
  display: flex;
}

.container {
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.content {
  background-color: var(--roxo-escuro);
  box-shadow: 0px 0px 56px -6px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  width: 800px;
  height: 260px;
}
.image {
  width: 400px;
  display: flex;
  justify-content: flex-start;
}
.texts {
  flex-direction: column;
  .title {
    font-family: var(--fonte-cursiva);
    text-align: center;
    color: var(--branco-medio);
    font-size: 40px;
    font-weight: 500;
    transform: rotateZ(-3deg);
    margin-top: -40px;
  }
  .paragraph {
    font-family: var(--fonte-alternativa);
    max-width: 300px;
    text-align: center;
    color: var(--branco-medio);
    font-size: 20px;
    padding-top: 0;
    font-weight: 500;
  }
}

.card {
  justify-content: center;
  align-items: center;
  background-color: var(--cor-card);
  box-shadow: 0px 0px 56px -6px rgba(0, 0, 0, 0.75);
  height: 160px;
  width: 350px;
  border-radius: 20px;
}

.cardBase {
  display: flex;
  justify-content: center;
  .title {
    color: var(--roxo-medio);
    margin-bottom: -30px;
    text-align: center;
    max-width: 1000px;
    word-spacing: 0;
    font-weight: 700;
    font-size: 48px;
    font-family: var(--fonte-alternativa);
    border-top: 2px solid #ced1d4;
    border-bottom: 2px solid #ced1d4;
    border-left: 0px solid #ced1d4;
    border-right: 0px solid #ced1d4;
  }
}

.titleP {
  color: var(--cor-principal);
  text-align: center;
  max-width: 1000px;
  word-spacing: 0;
  font-weight: 700;
  font-size: 22px;
  font-family: var(--fonte-alternativa);
}
.paragraphP {
  padding-top: 0px;
  margin-bottom: -20px;
  font-family: var(--fonte-alternativa);
  color: var(--roxo-escuro);
  font-size: 16px;
  font-weight: 300;
  max-width: 800px;
  border-bottom: 2px solid #ced1d4;
}
