.planCard {
  padding: 10px 70px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 560px;
  width: 964px;
  background-color: var(--cor-principal);
}
