@import "/src/index.css";

.container {
  padding-top: 160px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--roxo-medio);
  text-align: center;
  max-width: 1000px;
  word-spacing: 0;
  font-weight: 700;
  font-size: 48px;
  font-family: var(--fonte-alternativa);
}

.paragraph {
  padding-top: 16px;
  font-family: var(--fonte-alternativa);
  color: var(--cinza);
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  max-width: 900px;
  text-align: center;
}

.subtitle {
  color: black;
  word-spacing: 0;
  font-weight: 700;
  font-size: 35px;
  font-family: var(--fonte-alternativa);
}

.container2 {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  /* Estilos para telas menores, como smartphones */
  .container {
    margin-inline: 48px;
  }
}
