@import "../../index.css";

/* styles.css */

:root {
  --color-purple: #8b5cf6;
  --color-pink: #ec4899;
  --color-gray: #9ca3af;
  --color-black: #1f2937;
  --card-size: 305px;
}
.size {
  height: 650px;
  background-color: #ebedee;
}
.global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;

  .title {
    padding-top: 50px;
    max-width: 700px;
    text-align: center;
    color: var(--preto);
    font-size: 32px;
    line-height: 40px;
    font-family: var(--fonte-alternativa);
    padding-bottom: 40px;
  }

  .card {
    padding-top: 40px;
  }

  .paragraph {
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    max-width: 550px;
    padding-bottom: 36px;
    color: #555b63;
  }
}

html {
  scroll-behavior: smooth;
}

.anchorOffset {
  margin-top: -20px; /* Desloca a seção 10px acima */
  padding-top: 20px; /* Adiciona um espaçamento de 10px para compensar o deslocamento */
  visibility: hidden; /* Esconde o espaço vazio */
}

.cardBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
  justify-content: center;
  grid-gap: 10px; /* Espaçamento entre os quadrados */
  max-width: 300px; /* Largura máxima do contêiner */
  margin: 0 auto;
}

.linkCarousel {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding: 30px;
  color: var(--cor-principal);
  font-size: 20px;
  font-weight: 550;
}

.link::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(288, 100%, 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}

.link {
  position: relative;
}

.cover {
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
