/* Footer Custom Shape */
.shape {
  /* margin-top: -45px; */
  padding-top: -1px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 45px;
}

.shape .shapeFill {
  fill: var(--roxo-escuro-full);
}

/* Footer Content */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--roxo-escuro-full);
  height: 500px;
  width: 100%;
}

.contentTop {
  width: 1400px;
  height: 276px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
}

.inputCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  height: 100%;
  /* background-color: blueviolet; */
}

.title3 {
  color: var(--branco);
  font-family: var(--fonte-principal);
  font-size: 20px;
}

.title1 {
  color: var(--branco);
  font-family: var(--fonte-principal);
  font-size: 34px;
  margin-bottom: 20px;
}

.input {
  width: 80%;
}
.labelprops {
  margin-left: 15px;
  color: var(--branco);
}
.imageCard {
  width: 40%;
  height: 100%;
  /* background-color: brown; */
}

.image {
  width: 300px;
}

.contentBot {
  margin-inline: 20px;
  margin-top: 20px;
  width: 1400px;
  height: 184px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slogan {
  width: 40%;
  height: 100%;
}

.about {
  width: 20%;
  height: 100%;
}

.ulList {
  margin-left: 10%;
  color: var(--branco);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  color: var(--branco);
  font-family: var(--fonte-principal);
  font-size: 20px;
  font-weight: bold;
}

.terms {
  width: 20%;
  height: 100%;
}

.socialMedia {
  width: 20%;
  height: 100%;
  background-color: rgb(255, 42, 0);
}
