.miniCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-card);
  border-radius: 10px;
  height: 72px;
  width: 304px;
  box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.textCard {
  display: flex;
  font-family: var(--fonte-alternativa);
  font-size: 20px;
  padding-left: 40px;
  width: fit-content;
  text-align: center;
  color: var(--branco);
}

.imageCard {
  width: 122px;
  aspect-ratio: auto 92 / 69;
  height: 99px;
}
