.globalH1 {
  color: var(--branco);
  text-align: center;
  font-size: 3rem;
  font-weight: 1000;
  line-height: 48px;
  margin-bottom: 20px;
}

.globalH2 {
  font-family: var(--fonte-alternativa);
  color: var(--cinza);
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  max-width: 900px;
}

.globalH3 {
  margin: 0;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--preto);
  font: var(--fonte-alternativa);
  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
}

.globalH4 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--preto);
  font: var(--fonte-alternativa);
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

.globalH5 {
  font-family: var(--fonte-alternativa);
  color: var(--cinza);
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: var(--cor-principal);
}

/* Para header */
.globalHeader {
  font-family: var(--fonte-principal);
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: inherit;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--branco);
}

.cardTitle {
  color: var(--roxo-medio);
  text-align: center;
  max-width: 1000px;
  word-spacing: 0;
  font-weight: 700;
  font-size: 40px;
  font-family: var(--fonte-alternativa);
  border-top: 1.6px solid #ced1d4;
  border-bottom: 1.6px solid #ced1d4;
  border-left: 0px solid #ced1d4;
  border-right: 0px solid #ced1d4;
}

/* para subtítulos  */
.globalP {
  width: 700px;
  box-sizing: border-box;
  font-family: var(--fonte-secundaria);
  color: var(--cinza);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}

.globalPBanner {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--fonte-alternativa);
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.obs {
  font-family: var(--fonte-principal);
  color: var(--branco);
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin-top: 8px;
}

.globalPBig {
  color: var(--cinza);
  font-size: 16px;
  font-family: var(--fonte-principal);
  line-height: 24px;
  width: 600px;
  text-align: left;
}

.globalP2 {
  color: var(--branco-medio);
  font-size: 16px;
  font-family: var(--fonte-principal);
  font-weight: 350;
  width: 500px;
  margin-bottom: 20px;
  text-align: center;
}

.globalP3 {
  padding-top: 0;
  margin-bottom: -8px;
  font-family: var(--fonte-alternativa);
  color: var(--cor-principal);
  font-size: 13.6px;
  font-weight: 300;
  max-width: 640px;
  border-bottom: 1.6px solid #ced1d4;
  text-align: center;
  margin-inline: 0px;
}
@media (max-width: 414px) {
  /* Estilos para telas menores, como smartphones */
  .globalH5,
  .globalH4,
  .globalH3,
  .globalH2,
  .globalH1,
  .cardTitle,
  .globalP,
  .globalP2,
  .globalP3,
  .globalPBig,
  .globalPBanner,
  .obs {
    width: 90%;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets em orientação retrato */
}

@media (min-width: 1200px) and (max-width: 1439px) {
  /* Estilos para desktops menores */
}

@media (min-width: 1440px) {
  /* Estilos para desktops maiores */
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Estilos para telas de alta resolução, como Retina displays */
}
