@import "/src/index.css";

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--roxo-medio);
  box-sizing: border-box;
  width: 304px;
  height: 328px;
  border-radius: 10px;
  border-color: black;
  border: 10px;
}
