.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.39);
  height: 80px;
  width: 944px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none solid rgb(47, 57, 65);
  text-align: left;
  word-spacing: 0px;
  white-space: nowrap;
}
