@import "/src/index.css";

.container {
  background-color: var(--roxo-medio);
  height: 500px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 200px;
  height: 200px;
}

.title {
  font-size: 42px;
  color: var(--branco);
  font-weight: 500;
  text-align: center;
  font-family: var(--fonte-alternativa);
}

.paragraph {
  color: var(--branco-medio);
  font-size: 16px;
  font-family: var(--fonte-principal);
  font-weight: 350;
  width: 500px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  align-items: center;
  height: 30px;
  width: auto;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: var(--branco);
  box-shadow: 0px 0px 12px -4px rgba(0, 102, 128, 1);
  cursor: pointer;
  background-color: var(--roxo-escuro);
}

.button:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
  background-color: var(--roxo-escuro);
}

.button.hoverOut {
  transform: scale(0.9);
  background-color: blue;
  transition: transform 1s ease;
  transition: background-color 1s ease;
}
