.container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--roxo-escuro);
  width: 100%;
}

.title {
  max-width: 800px;
  text-align: center;
  color: var(--branco);
}

.subtitle {
  max-width: 800px;
  text-align: center;
  color: var(--branco);
  margin-bottom: 50px;
}
.content {
}

.cardBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 300px;
  background-color: var(--cor-card);
  border-radius: 10px;
}

@media (max-width: 414px) {
  .content {
    flex-direction: column;
  }
  .title {
    margin-bottom: 40px;
  }
}
