.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.texts {
  max-width: 900px;
}

.image {
  width: 50%;
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
