.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 96px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 72px;
}

.cardBox {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 36px 5px;
}

.itens {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 414px) {
  .containerCards {
    display: flex;
    flex-direction: column;
  }
}
