@import "../../index.css";

.container {
  padding-top: 160px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--roxo-medio);
  word-spacing: 0;
  font-weight: 700;
  font-size: 40px;
  font-family: var(--fonte-alternativa);
}

.paragraph {
  padding-top: 16px;
  font-family: var(--fonte-alternativa);
  color: var(--cinza);
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  width: 928px;
}

.subtitle {
  color: black;
  word-spacing: 0;
  font-weight: 700;
  font-size: 35px;
  font-family: var(--fonte-alternativa);
}

.container2 {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
