@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  padding: 90px 0px;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fafafa;
}

.info {
  display: flex;
  flex-direction: row;
}

.img {
  width: 288px;
  height: 216px;
}

.texts {
  width: 544px;
  height: 72px;
  padding-left: 40px;
  margin-left: 20px;
  .subtitle {
    display: contents;
    margin-inline: 0;
    margin-block: 0;
    color: var(--preto);
    word-spacing: 0;
    font-weight: 700;
    font-size: 35px;
    font-family: "roboto", sans-serif;
    padding-bottom: 24px;
  }
  .parapgraph {
    color: var(--cinza);
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(83, 95, 104);
    text-align: left;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin: 0;
}

@media (max-width: 767px) {
  /* Estilos para telas menores, como smartphones */
  .container {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;

    padding: 0;
    margin: 0;

    .parapgraph {
      width: 400px;
      margin-top: 10px;
      text-align: center;
    }
  }
}
