/* BannerNoCover.module.css */
.card {
  width: 550px;
  height: auto;
  background-color: var(--roxo-escuro);
  opacity: 90%;
  padding: 2px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer; /* Adicionado para indicar que é clicável */
  transition: background-color 0.3s ease-in-out; /* Adicionado para a animação de cor */
}

.iconCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  padding-left: 10px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expandButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: all 300ms ease-in-out 0s;
}

.expandedIcon {
  transform: rotate(180deg);
}
.cardTitle {
  color: var(--branco);
  font-size: 16px;
  width: 80%;
  text-align: start;
}

.cardDescription {
  color: var(--branco);
  max-height: 0;
  text-align: center;
  padding-top: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}

.expanded .cardDescription {
  max-height: 1000px; /* Ou outro valor grande o suficiente */
  transition: max-height 3000ms ease-in-out;
  margin-block-end: 10px;
}

.show {
  max-height: 1000px; /* Ou outro valor grande o suficiente */
  transition: max-height 3000ms ease-in-out;
}

.card:hover {
  background-color: rgb(44, 0, 86);
}

@media (max-width: 414px) {
  .card {
    width: 300px;
  }
}
