@import "./BannerNoCover.module.css";

.container {
  display: flex;
  justify-content: flex-start;
  width: 796px;
  height: auto;
  background-color: var(--roxo-escuro);
  opacity: 90%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.iconCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  padding-left: 10px;
}
.expanded {
  height: auto;
}
.expandButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease;
}
.expandedIcon {
  transform: rotate(180deg);
}

.cardDescription {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expanded .cardDescription {
  max-height: 1000px; /* Ou outro valor grande o suficiente */
}
.icon {
  background-color: var(--preto);
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 20%;
  color: white;
}

.text {
  width: 796px;
  color: var(--branco);
}

.h2 {
  font-size: 34px;
}

.icon2 {
  padding: 2px;
}
